<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Excel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <br>
    <ion-card>
      <ion-card-content>
          <ion-buttons>
            <ion-button>
               <label for="file-upload">
                 <ion-icon slot="icon-only" name="documents"></ion-icon>
               </label>
                <input
                 (change)="file($event)" 
                 id="file-upload" 
                 style="display: none" 
                 type="file" 
                 accept=".xlsx, .xls">
              </ion-button>
            </ion-buttons>
            <br>
            <p class="text-center">{{nameFile}}</p>
          </ion-card-content>

    </ion-card>
  </div>
</ion-content>
